*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: rgb(19, 184, 184);
}

.colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-rule: 2px solid rgb(24, 77, 95);
    width: 100%;
    height: 100%;
    padding-top: 3vh;
}

.coluna1{
    border: white solid 2px;
    width: 30%;
    height: fit-content;
    padding:  2vh;
}

.coluna2{
    border: white solid 2px;
    width: 30%;
    height: fit-content;
    padding:  2vh;
}

.coluna3{
    border: white solid 2px;
    width: 30%;
    height: fit-content;
    padding:  2vh;
}

.header{
    padding: 1vh 1vh 1vh 1vh;
    background-color: rgb(90, 165, 190);
    text-align: center;
    padding: 3vh;
}

.divbut{
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.afazer_fazendo_concluido{
    background-color: white;
    height: 4vh;
    border: white solid 2px;
    width: 100%;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 0.7vh;
}

.button{
    margin-top: 2vh;
    margin-left: 6vh;
}

.botao{
    align-items: center;
    width: 90%;
    height: 6vh;
}

.cards{
    width: 90%;
    height: fit-content;
    border: white solid 2px;
    border-radius: 4px;
    margin: 2vh;
}

.but_e_o{
    height: 3vh;
    width: 45%;
    margin: 1vh;
    border: white solid 1px;
    border-radius: 0.7vh;
    align-content: center;
}

.forms{
    height: 5vh;
}